<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776753279630-ee1n4v85v870h178f6hhd4jmqq1vgv3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776753279630-ee1n4v85v870h178f6hhd4jmqq1vgv3a</string>
	<key>API_KEY</key>
	<string>AIzaSyBR2QvzFAPsYNMB2fqZFGwhtHaUr8RAgMk</string>
	<key>GCM_SENDER_ID</key>
	<string>776753279630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>l.Amneen</string>
	<key>PROJECT_ID</key>
	<string>amneen-c6c2c</string>
	<key>STORAGE_BUCKET</key>
	<string>amneen-c6c2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776753279630:ios:f9e09e6a4fe915ac300fdf</string>
</dict>
</plist>